.secundario {
    float: left;
    margin: 2%;
    width: 300px;
    height: 300px;
    /* display: flex;
    flex-direction: column;
    align-items: center;*/
}

.caja {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 7px grey;
    transition: border-radius 1s;
    border-radius: 0px;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#negro {
    background-color: black;
}

button {
    margin-top: 5%;
    margin-left: 37%;
}

.borderRadius {
    border-radius: 200px;
    transition: border-radius 1s;
}

.quitarSombra {
    box-shadow: none;
    transition: box-shadow 1s;
}

.anyadirSombra {
    box-shadow: 5px 5px 7px grey;
    transition: box-shadow 1s;
}

.sombraDentro {
    box-shadow: inset -5px -5px 7px grey;
    transition: box-shadow 1s;
}

.circuloMantenido {
    border-radius: 200px;
}

.transicion {
    width: 0;
    transition: width 1s;
}