#general {
    display: flex;
    justify-content: space-around;
}

#secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 10px black;
}

#rojo {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#negro {
    background-color: black;
}

button {
    margin-top: 5%;
}