h2 {
    text-align: center;
    color:  white;
}


form {
    background-color: grey;
    width: 50%;
    border: 1px solid black;
    text-align: right;
}



form input{
    
    margin-right: 1%; 
    margin-bottom: 2.5%;
    border: 1px solid black;
    box-shadow: 60px; 
}

button{
    background-color: blue;
    color:white;
    padding:5px;
    border: none;
    border-radius: 3px;
    margin-right: 40%;
    width: 10%;
    margin-bottom: 2.5%;

}