body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    background-image: url("../img/fondo.jpg");
}

#reproductor {
    display: grid;
    grid-template-rows: 100px 3fr 1fr;
}

#barra {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    justify-content: center;
    grid-gap: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 70%;
    margin-left: 15%;
    background-color: rgba(63, 62, 62, 0.233);
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.75);
    border: 1 solid black;
}

#multimedia {
    position: relative;
}

#listavideos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin-top: 5%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 300px;
    bottom: 25%;
    left: 35%;
    opacity: 1;
    background-color: red;
    border: 1px black solid;
    border-radius: 50px;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75);
}

.videos:hover {
    margin-right: 25%;
    margin-left: 15%;
    transform: scale(1.2);
}

.boton {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    border-radius: 1000px;
}

#silenciar {
    background-image: url("../img/muted.png");
    background-size: 100% 100%;
}

#retroceder {
    background-image: url("../img/retroceder.png");
    background-size: 100% 100%;
}

#play {
    background-image: url("../img/play.png");
    background-size: 100% 100%;
}

#avanzar {
    background-image: url("../img/forward.png");
    background-size: 100% 100%;
}

#rebobinar {
    background-image: url("../img/rebobinar.png");
    background-size: 100% 100%;
}

#menos {
    background-image: url("../img/volumenmenos.png");
    background-size: 100% 100%;
}

#mas {
    background-image: url("../img/volumenmas.png");
    background-size: 100% 100%;
}

#silenciar:hover {
    transform: scale(1.1);
}

#retroceder:hover {
    transform: scale(1.1);
}

#retroceder:hover {
    transform: scale(1.1);
}

#play:hover {
    transform: scale(1.1);
}

#avanzar:hover {
    transform: scale(1.1);
}

#rebobinar:hover {
    transform: scale(1.1);
}

#menos:hover {
    transform: scale(1.1);
}

#mas:hover {
    transform: scale(1.1);
}